[submodule "renderer"]
	path = renderer
	url = https://github.com/rurseekatze/node-tileserver.git
[submodule "blog"]
	path = blog
	url = https://github.com/rurseekatze/openrailwaymap-blog.git
[submodule "openrailwaymap-blog"]
	path = openrailwaymap-blog
	url = https://github.com/rurseekatze/openrailwaymap-blog
