name: Python CI

on:
  push:
    branches:
     - '*'
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: build-${{ matrix.python-version }}
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - name: checkout
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: deps
      run: |
        sudo apt-get update
        sudo apt-get install -yq libxml2-utils gettext

    - name: set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: python deps
      run: |
        python -m pip install --upgrade pip
        pip install 'cairocffi<1' 'pillow<6' ply pojson polib
    - name: Build
      run: make
    - name: Tests
      run: make check
